.strips {
    position: absolute;
    width: 50vw;
    bottom: 5px;
    right: 5px;
    z-index: 25;
}

.strip-visible {
    display: block;
    z-index: 15;
}

.strip-hidden {
    display: none;
    z-index: 0;
}